html {
    font-family: 'Roboto';
}

/* BODY */

body {
    margin:0;
    background-color: rgb(216, 222, 226);
}

a {
    text-decoration: none;
}

/* NAV MENU */

.menu {
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    background-color: rgb(255, 255, 255);
}

.menu a {
    color:black;
}

.menu>ul {
    margin: 2em 2em 0em 2em;
    display: flex;
}

.menu>ul>a {
    background-color: aquamarine;
    list-style:none;
    padding: 1em;
    text-align: center;
}

.menu>ul>a:hover {
    transition: 0.5s;
    background-color: black;
    color:aquamarine;
}

#logo {
    display:flex;
    align-items: center;
    margin-left: 1em;
    background-color:aquamarine;
    width: 3em;
    height: 3em;
    border-radius: 100%;
}

#logo>img {
    padding: 0.8em 0.5em 0.5em 0.5em;
}

#logo>h1 {
    padding: 0 0 0 0.5em;
    font-weight: 700;
}

#logo:hover {
    transition: 0.5s;
    transform: scale(1.2);
}

/*ENCABEZADO*/

.encabezado>img {
    width:100%;
}

/* MAIN */

.main {
    margin: 3em;

}

.notas {
    background-color: white;
    margin-bottom: 1em;
}

.notas>h3 {
    color: rgb(0, 160, 107);
    font-weight: 400;
}

.notas>h3 {
    padding: 1em 1em 0 1em;
    font-weight: 800;
}

.notas>p {
    padding: 0 1em 1em 1em;
}


.footernota {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:black;
    background-color: aquamarine;
}

.footernota>* {
    padding: 0 1em 0 1em;
}

.link2 {
    font-weight: 700;
}

.footernota:hover {
    transition: 0.5s;
    color:white;
    background-color: black;
}


/* MAPA */

#mapa {
    width:100%;
}


/* FOOTER */

footer {
    bottom: 0;
    width:100%;
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-size: small;
    color:rgb(0, 0, 0);
}

#contenedor-footer {
    padding: 1em 3em;
}


/* MEDIA QUERIES Y BREAKPOINTS */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    
    .menu {
        display:block;
        padding-top: 1em;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    .main {
        display: grid;
        grid-auto-flow: column;
        gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(10em, 25em));
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1200px) {


}
