html {
    font-family: 'Roboto';
}

/* BODY */

body {
    margin:0;
    background-color: rgb(216, 222, 226);
}

/*ENCABEZADO*/

.encabezado>img {
    width:100%;
}

/* MAIN */

.main {
    margin: 5em;
    margin-top: 7em;
}

.notas {
    background-color: white;
    padding: 1em;
    margin-bottom: 1em;
}

.notas>h2 {
    color: rgb(0, 160, 107);
    font-weight: 400;
}


/* NAV MENU */

#menu {
    top:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width:100%;
    background-color: rgb(255, 255, 255);
}

#menu a {
    color:black;
}

#menu>ul {
    margin: 2em 2em 0em 2em;
    display: flex;
}

#menu>ul>a {
    background-color: aquamarine;
    list-style:none;
    padding: 1em;
    text-align: center;
}

#menu>ul>a:hover {
    transition: 0.5s;
    background-color: black;
    color:aquamarine;
}

#logo {
    display:flex;
    align-items: center;
    margin-left: 1em;
    background-color:aquamarine;
    width: 3em;
    height: 3em;
    border-radius: 100%;
}

#logo>img {
    padding: 0.8em 0.5em 0.5em 0.5em;
}

#logo>h1 {
    padding: 0 0 0 0.5em;
    font-weight: 700;
}

#logo:hover {
    transition: 0.5s;
    transform: scale(1.2);
}

/* MAPA */

#mapa {
    width:100%;
}


/* FOOTER */

footer {
    bottom: 0;
    width:100%;
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-size: small;
    color:rgb(0, 0, 0);
}

#contenedor-footer {
    padding: 1em 5em;
}