


/* FOOTER */

footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    background-color: rgb(183, 200, 214);
}

footer p {
    max-width: 50em;
    border-color: black;
    border-style: double;
    margin: 0.5em;
    padding: 0.5em;
    color:rgb(0, 0, 0);
}